@import url("./reset.css");
body {
  font-size: .2rem;
}

html, body, .container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  background: #eee;
}

.head {
  height: .8rem;
  border-bottom: 1px solid #ccc;
  line-height: .88rem;
  text-align: center;
  position: relative;
  background: #fff;
}

.head span {
  font-size: .28rem;
}

.head i {
  position: absolute;
  left: .2rem;
}

.section {
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

.main {
  background: #fff;
  margin-bottom: .1rem;
}

.main-head {
  padding-left: .2rem;
  border-bottom: 1px solid #eee;
  height: .66rem;
  line-height: .66rem;
  vertical-align: middle;
}

.main-head label {
  width: .3rem;
  height: .3rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 50%;
  position: relative;
}

.main-head label span {
  border: 3px solid #157AC1;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(50%, 50%, 0);
}

.main-head > span {
  font-size: .24rem;
}

.cart_content {
  border-bottom: 1px solid #eee;
  display: -webkit-flex;
  -webkit-flex-direction: row;
}

.cart-left {
  width: 100%;
}

.cart-left ul {
  padding-left: .2rem;
}

.cart-left ul li:nth-child(1) {
  height: .66rem;
  line-height: .66rem;
}

.cart-left ul li:nth-child(1) label {
  width: .3rem;
  height: .3rem;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  position: relative;
}

.cart-left ul li:nth-child(1) label span {
  line-height: .3rem;
  height: 0.3rem;
  width: .3rem;
  color: #157AC1;
  position: absolute;
}

.cart-left .ul_two {
  display: -webkit-flex;
  -webkit-flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 .3rem .1rem .3rem;
}

.cart-left .ul_two em {
  color: #FC6B3E;
}

.cart-left .ul_two p span {
  border: 1px solid #ccc;
  width: .5rem;
  height: .5rem;
  text-align: center;
  line-height: .5rem;
  display: inline-block;
  font-size: .3rem;
  color: #555;
}

.cart-right {
  width: .66rem;
  text-align: center;
  background: #FC6B3E;
  color: #fff;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  justify-content: center;
  transform: translate3d(100%, 0, 0);
  transition: transform .3s linear;
}

.active {
  transform: translate3d(0, 0, 0);
}

.order {
  padding: 0 .2rem;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  justify-content: space-between;
  height: .66rem;
  align-items: center;
}

.order span {
  font-size: .24rem;
  color: #555;
}

.order i {
  font-size: .26rem;
}

.footer {
  height: .7rem;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding-left: .2rem;
}

.footer span:last-child {
  background: #FC6B3E;
  display: inline-block;
  height: .7rem;
  line-height: .7rem;
  color: #fff;
  padding: 0 .5rem;
}
